# File & Thư mục tạm của Mini World
*temp*
*tmp*
*.backup*
wdescbackup.fb
thumb_temp.fb
modpkgtmp/

# Dấu vết load lỗi & snapshot theo UIN do game tạo ra
*.uinError
*.db.[0-9]*

# File log & System cache
*.log
.DS_Store
Thumbs.db

# Cấu hình IDE / Editor
.vscode/
.idea/
